html, body {
    height: 100%;
    margin: 0;
}

.full-page {
    height: 100%;
    background: #1e1e2a;
}

/* Header */  
.top-nav {
    height: 95px;
    width: 100%;
    display: flex;
    justify-content:space-around;
}

/* styling logo */  
.logo-box {
    margin-top: 40px;
    margin-right: 40px; 
}

#logo {
    height: 40px;
    width: 240px;
}

/* styling search bar */
.search-box {
    width: 400px;
    height: 40px;
    margin-left: 23%;
    margin-top: 35px;

}

input[type=text] {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-left: 100px;
    border-radius:10px;
    border: none;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
}

*:focus {
    outline: none;
}
     

/* styling profile */  
.profile-box {
    height: 60px;
    width: 60px;
    margin-top: 25px;
    margin-left: 40px;
    text-align: center;
}

#user {
    height: 100%;
    width: 100%;
}
  
