html, body {
    height: 100%;
    margin: 0;
}

.full-page {
    height: 100%;
    background: #1e1e2a;
}

/* Header */  
.top-nav {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* styling logo */  
.logo-box {
    margin-top: 35px;
    margin-right: 70px;
}

#logo {
    height: 40px;
    width: 240px;
}

/* styling nav menu */  
.nav-box {
    margin: 45px;
}

.top-nav a {
    margin: 16px;
    margin-top: 25px;
    color: white;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

/* styling search bar */
.search-box {
    margin-top: 42px;
}

input[type=text] {
    width:250px;
    height:25px;
    margin: 3px;
    padding-left: 15px;
    border-radius:20px;
    border: none;
}
     
form.search button {
    width: 20%;
    padding: 10px;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

/* styling profile */  
.profile-box {
    width: 80px;
    margin-top: 30px;
    margin-left: 30px;
    text-align: center;
}

#user {
    height: 54px;
    width: 54px;
}
  
